<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Groups Work- Student
  </title>

  {% load static %}
  <link rel='stylesheet' href="{% static 'css/pagestyles.css' %}" />
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
      <img src="../../static/media/images/logo.png" alt="logo">

      <h1> Links To Work Below </h1>

    </div>


    <div class="check">

      <div class="submissions">

        <div>
          <img src="../../static/media/images/group.png" alt="group">
          <!-- should be a text box holding the group name or # under this image-->
        </div>
        <div class="check-submissions">

          <!-- this is where the zoom link should go for the other groups to see -->
        </div>
        <div class="check-submissions">

          <!-- this is where the panopto link should go for the other groups to see -->
        </div>
        <div class="check-submissions">

          <!-- this is where the poster file should go for the other groups to see -->
        </div>

        <div class="check-submissions">

          <!-- this is where the survey link should go for the other groups to see -->
        </div>

        <div class="groups-buttons">
          <button type="submit" class="groups-button"> Go Back </button>
        </div>



      </div>
</body>
<!--
          <div class="group-1">
          <div class="rectangle-54"></div>
        </div>
        <div class="select alnile-bold-white-18px"> </div>
        <img class="grouppeopleteamusers" src="../../static/media/images/group.png"
          alt="group+people+team+users+icon-1320196240876938595" />
        <div class="rectangle-100"></div>
        <div class="group-1-1 sinhalamn-bold-white-20px">

        </div>
        <div class="rectangle-63"></div>
        <div class="rectangle-52"></div>

        <img class="grouppeopleteamusers-1" src="../../static/media/images/group.png"
          alt="group+people+team+users+icon-1320196240876938595" />
        <div class="rectangle-101"></div>
        <div class="group-2 sinhalamn-bold-white-20px">

        </div>
        <div class="rectangle-102"></div>
        <div class="select-2 alnile-bold-white-18px"> </div>
        <img class="grouppeopleteamusers-2" src="../../static/media/images/group.png"
          alt="group+people+team+users+icon-1320196240876938595" />
        <div class="rectangle-103"></div>
        <div class="group-3 sinhalamn-bold-white-20px">

        </div>
        <div class="rectangle-104"></div>
        <div class="select-3 alnile-bold-white-18px"> </div>


        <img class="storyer-logo" src="{% static 'media/images/logo.png' %}" alt="Storyer logo" />
      
-->